@import url("./../vendor/css/bootstrap.min.css");

@font-face {
    font-family: 'nunito-sans';
    src: url('./../assets/fonts/NunitoSans_10pt-Light.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'nunito-sans-bolder';
    src: url('./../assets/fonts/NunitoSans_10pt-ExtraBold.ttf') format('truetype');
    font-display: fallback;
}

body {
    font-family: 'nunito-sans', sans-serif;
}

.nunito-bolder {
    font-family: 'nunito-sans-bolder', 'sans-serif';
}

.search-bar {
    width: 50%;
}

.search-icon {
    fill: white;
}

.btn-search {
    border: none;
    padding: .3rem .8rem;
}

.dropdown-container {
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-toggle {
    width: 100% !important;
}

.card-container {
    width: 15rem;
    height: 22rem;
}

.card-container:hover,
.card-container:active {
    transform: scale(110%);
    transition: .2s;
}

.country-flag {
    height: 179px;
    background-size: 100%;
    background-position: top;
    width: 100%;
    object-fit: cover;
}

.card-text {
    font-size: .9rem;
}

.search-404 {

    .bi,
    .bi-x-circle {
        width: 15%;
        height: 15%;
        opacity: .3;
    }
}

.search-off-icon {
    width: 20rem;
    user-select: none;
    pointer-events: none;
    opacity: .2;
}

.scroll-btn {
    border: none;
}

.arrow-up {
    fill: #fff;
}

.offcanvas {
    --bs-offcanvas-width: 55vw;
    --bs-offcanvas-border-width: 0;
}

.offcanvas-backdrop {
    opacity: .7 !important;
}

.invisible-block {
    display: none;
}

.flag-info {
    width: 50%;
    height: 95%;
}

@media (max-width: 820px) {
    .search-bar {
        width: 100%;
    }

    .dropdown-container {
        width: 50%;
    }

    .card-container {
        width: 19rem;
        height: 27rem;
    }

    .country-flag {
        height: 228px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .search-404 {
        margin-top: 3rem;

        .bi,
        .bi-x-circle {
            width: 30%;
            height: 30%;
        }
    }

    .offcanvas {
        --bs-offcanvas-width: 100vw;
    }

    .offcanvas-title {
        font-size: 2.3rem !important;
    }
}

@media (max-width: 1400px) and (min-width: 1300px) {
    .flag-info {
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .invisible-block {
        display: block;
    }

    .offcanvas-title--container {
        justify-content: center;
    }

    .offcanvas-info {
        flex-direction: column;
        height: auto !important;

        .flag {
            width: 100% !important;
            height: 300px;
        }

        .flag-info {
            width: 100%;
            height: fit-content;
            overflow: hidden !important;
        }
    }

    .borders {
        height: fit-content !important;
        margin: 1rem auto 2rem auto;
    }
}

@media (max-width: 400px) {
    #sorter {
        width: 15rem !important;
    }

    .flag {
        height: 290px !important;
        margin-bottom: .5rem;
    }
}

[data-bs-theme="dark"] {

    .body,
    .country-card,
    .form-control,
    .dropdown-container,
    .dropdown-menu,
    .offcanvas-header,
    .offcanvas-btn,
    .offcanvas-btn:active,
    .country-info {
        background-color: hsl(209, 23%, 22%);
    }

    .main,
    .offcanvas-body {
        background-color: hsl(207, 26%, 17%);
    }

    .border-btn,
    .dropdown-container {
        border: 2px solid hsl(209, 23%, 22%) !important;
    }

    .border-btn:hover {
        border-color: #3163A6 !important;
        color: #77b2ec !important;
    }

    .dropdown-container:hover,
    .dropdown-menu-active,
    .dropdown-menu-filtered {
        border-color: #3163A6 !important;

        .dropdown-toggle {
            color: #77b2ec !important;
        }
    }

    .btn-search,
    .dropdown-item:hover,
    .scroll-btn {
        background-color: #205295;
    }

    .btn-search:hover,
    .dropdown-item:active,
    .scroll-btn:hover {
        background-color: #3163A6;
    }

    .btn-search:active,
    .scroll-btn:active {
        background-color: #4274B7;
    }

    .search-off-icon {
        filter: invert();
    }
}

[data-bs-theme="light"] {

    .main,
    .offcanvas-body {
        background-color: #F1EFEF;

        .dropdown-container,
        .country-info,
        .offcanvas-btn {
            background-color: white;
        }

        .border-btn,
        .dropdown-container {
            border: 2px solid white !important;
        }

        .border-btn:hover {
            border-color: #6496C9 !important;
            color: #4274B7 !important;
        }

        .dropdown-container:hover,
        .dropdown-menu-active,
        .dropdown-menu-filtered {
            border-color: #6496C9 !important;

            .dropdown-toggle {
                color: #4274B7 !important;
            }
        }

        .btn-search,
        .dropdown-item:hover,
        .scroll-btn {
            background-color: #6496C9;
            color: white;
        }

        .btn-search:hover,
        .dropdown-item:active,
        .scroll-btn:hover {
            background-color: #5385B8;
        }

        .btn-search:active,
        .scroll-btn:active {
            background-color: #4274B7;
        }
    }
}