@import url("./../vendor/css/bootstrap.min.css");

@font-face {
    font-family: 'nunito-sans';
    src: url('./../assets/fonts/NunitoSans_10pt-Light.ttf') format('truetype');
    font-display: fallback;
}

@font-face {
    font-family: 'nunito-sans-bolder';
    src: url('./../assets/fonts/NunitoSans_10pt-ExtraBold.ttf') format('truetype');
    font-display: fallback;
}

body {
    font-family: 'nunito-sans', sans-serif;
}

.nunito-bolder {
    font-family: 'nunito-sans-bolder', 'sans-serif';
}

.card-container {
    width: 15rem;
    height: 22rem;
}

.country-flag {
    height: 179px;
    background-size: 100%;
    background-position: top;
    width: 100%;
    object-fit: cover;
}

.card-text {
    font-size: .9rem;
}

@media (max-width: 820px) {
    .card-container {
        width: 20rem;
        height: 28rem;
    }

    .country-flag {
        height: 240px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-text {
        font-size: 1rem;
    }
}